In [32]:
import pandas as pd
import numpy as np

In [2]:
voter_data = pd.read_csv("../Resources/election_data.csv")

In [3]:
voter_data.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [22]:
total_votes = len(voter_data.index)
total_votes

3521001

In [11]:
unique_candidates = voter_data["Candidate"].unique()
unique_candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [20]:
vote_count = voter_data['Candidate'].value_counts()
vote_count

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [26]:
vote_count/total_votes *100

Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64

In [31]:
vote_count[:1]

Khan    2218231
Name: Candidate, dtype: int64