In [93]:
import numpy as np
import pandas as pd

In [94]:
budget = pd.read_csv("../Resources/budget_data.csv",parse_dates=True)

In [92]:
budget.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [100]:
#proloss = budget.iloc[:, 1]
Date = budget["Date"]
proloss = budget["Profit/Losses"]

In [101]:
proloss

0    867884
1    984655
2    322013
3    -69417
4    310503
Name: Profit/Losses, dtype: int64